<form name="form1" novalidate>
    <formly-form class="form-horizontal" id="form-horizontal" model="dc.formModel" fields="dc.userFields" form="dc.myform" options="dc.options">
    </formly-form>
</form>


<div class="col-sm-6" style="overflow-y: scroll;">
    <p class="col-sm-12"><b>model: </b></p>
    <pre>{{ dc.formModel| json }}</pre>
</div>
</br>
<div class="col-sm-6" style="overflow-y: scroll; min-height:100px;">
    <p class="col-sm-12"><b>Errors: </b></p>
    <div ng-repeat="item in dc.userFields">
        <div ng-if="item.formControl.$error">
            <p>{{item.name}}</p>
            <pre>{{item.formControl.$error | json}}</pre>
        </div>
    </div>
</div>
</br>

<div class="col-sm-12" style="overflow-y: scroll; height:400px;">
    <p class="col-sm-12"><b>Angular-Formly Fields: </b></p>
    <div ng-repeat="item in dc.userFields">
        <pre>{{ item | json }}</pre>
    </div>
</div>